@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

* {
    color: #3F4A54;
}

body {
    position: relative;
}

body::before {
    content: "";
    position: fixed; /* Changement ici */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/fond.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: blur(5px);

    z-index: -1;
}

h2 {
    margin-left: 1%;
    margin-top: 0.5%;
    font-size: 20px;
}

.logo {
    width: 35px;
    height: 35px;
}

.panier {
    width: 47px;
    height: 47px;
    float: right;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border-radius: 10%;
    border: none;
    font-size: 1800%;
    background-color: transparent;
    width: 150px;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.droite {
    width: 150px;
}

.header {
    height: 70px;
    font-size: 1px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e9d8ca;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px; /* pour laisser de l'espace pour le header fixe */
    padding: 20px;
}

.col {
    flex: 1;
    margin: 10px;
}

.form-group {
    margin-bottom: 15px;
}

@media (max-width: 1200px) {
    .menu {
        font-size: 90%;
    }
    button {
        width: 140px;
    }
}

@media (max-width: 1000px) {
    .menu {
        font-size: 70%;
    }
    button {
        width: 100px;
    }
}

@media (max-width: 700px) {
    .header {
        flex-wrap: wrap;
    }
    .panier {
        display: none;
    }
    .logo {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }
    .menu {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }
    .droite {
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        flex-direction: column;
    }
}