header {
    font-size: 1px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e9d8ca;
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre pour le style */
    z-index: 1000; /* Assurez-vous que le header reste au-dessus des autres éléments */
}