@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

* {
    color: #3F4A54;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background: url('./images/fond.png'); /* Utilisez un chemin relatif */
    background-size: cover; /* Ajustez la taille de l'image pour couvrir toute la page */
    filter: blur(4px); /* Ajustez le niveau de flou selon vos besoins */
    z-index: -1; /* Placez l'image de fond floue derrière le contenu */
}

body {
    font-family: 'Lexend', Arial, sans-serif;
    margin: 0;
    padding-top: 90px; /* Ajoutez un padding-top pour éviter que le contenu ne soit caché sous le header fixe */
    padding-bottom: 60px;
    position: relative;
}

.naming {
    font-size: 15px;
}

.info {
    font-size: 20px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
}

.logo {
    width: 35px;
    height: 35px;
}

.titreMain {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: #edccb4e6;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    width: 50%; /* Centré en fonction du contenu */
    font-size: 200%;
}

.nomPrenom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pp {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.col {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: #edccb4f1;
    border-radius: 25px;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden; /* Pour s'assurer que le contenu ne dépasse pas les bords arrondis */
}

.colD {
    margin-left: 5%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    width: 80%;
}

@media (max-width: 900px) {
    .header {
        flex-wrap: wrap;
    }
    .panier {
        display: none;
    }
    .logo {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
    }
    .menu {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }
    .droite {
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    .col {
        width: 100%;
        margin-bottom: 20px;
    }
    .colD {
        margin-left: 0;
    }
    .titreMain {
        width: 80%;
    }
}

.article-col {
    width: 50%; /* Ajustez la largeur pour qu'elle occupe toute la largeur du conteneur parent */
    display: flex; /* Utilisez flexbox pour aligner l'image et le contenu sur la même ligne */
}

.prodG {
    min-width: 30%;
    max-width: 50%;
    display: flex; /* Utilisez flexbox pour aligner les éléments en colonne */
    flex-direction: column; /* Placez les éléments en colonne */
    justify-content: center; /* Centrez horizontalement les éléments enfants */
    align-items: center; /* Centrez verticalement les éléments enfants */
    padding: 20px; /* Ajoutez un peu d'espace autour des éléments */
    border-radius: 25px; /* Ajoutez des coins arrondis */
}

.imgProd {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px; /* Ajoutez un peu d'espace en bas de l'image */
}

.article-col h2, .article-col p {
    /* Nouveaux styles */
    margin: 5px 0; /* Ajoutez un peu d'espace autour du texte */
}

.infoProd {
    /* Nouveaux styles */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.delete-button {

    background-color: #ff634767; /* Couleur de fond rouge */
    color: white; /* Couleur du texte blanc */
    padding: 8px 16px; /* Réduisez légèrement le rembourrage */
    border: none; /* Supprimez la bordure */
    border-radius: 5px; /* Ajoutez des coins arrondis */
    cursor: pointer; /* Changez le curseur au survol */
    transition: background-color 0.3s ease; /* Ajoutez une transition en douceur */
    font-size: 14px; /* Réduisez la taille de la police */
    margin-top: 10px; /* Ajoutez un espacement au-dessus du bouton */
}

.delete-button:hover {
    /* Styles existants */
    background-color: #CC4E44; /* Assombrissez légèrement la couleur de fond */
}

.article-col h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.article-col p {
    font-size: 16px;
    margin-bottom: 5px;
}

.article-colD {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: #edccb4f1;
    border-radius: 25px;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: auto;
    float: right;
}