@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

* {
    color: #3F4A54;
}

h1, h2 {
    color: #333333;
}

h1{
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h4 {
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-right: 60px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #2c3e50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: #2c3e50;
}

.personnal-info {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: #edccb4e6;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    width: 50%;
    font-size: 200%;
}

.col {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: #edccb4f1;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.article-colG {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    float: left;
}



.imgProd {
    width: 100%;
    max-height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    object-fit: contain; /* Add this line */
    border-radius: 25px;
    
}

.infoProd {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.validation-button {
    background-color: #205c2537;
    color: #3F4A54;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}

.validation-button:hover {
    background-color: #0b921684;
}

.carousel{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 25px;

}

.carousel-inner {
    background-color: #edccb4e6;
    border-radius: 25px;
    display: flex;
    flex-direction: column;    
}

.descriptionProd{
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    word-wrap: break-word;
}


.carousel-item.active {
    opacity: 1;
    position:relative;  
    display: flex;
    margin-top: 20px;
    margin-bottom: auto;
    padding-left: 50px;
    width: 100%;
}

button.prev, button.next {
    position: absolute;
    top: 0%;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 40px;
}

.titreMain{
    font-size: 40px;
    font-weight: bold;
}

button.prev {
    left: 10px;
}

button.next {
    left: 70px;
    
}

button.prev:hover, button.next:hover {
    color: #815f47;
}

button.prev:active, button.next:active {
    outline: none;
}

.carte {
    margin-top: auto;
    margin-bottom: 0;
}

h3{
    color: #000000;
}

h5{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
}

h6{
    margin-top: 10px;
    font-size: 20px;
}

.prix{
    color: #3F4A54;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
}

.sousCategorie{
    margin-top: 30px;
}

.naming{
    color: #111416;
    font-weight: bold;
}

#une {
    margin-top: 80px;
}

#achat{
    width: 50%;
}


.imgProd:active {
    transform: scale(2);
}

.panier-ajouter {
    background-color: #03d11484;
    color: #3F4A54;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}

.panier-ajouter:hover {
    background-color: #149e20b2;
}

.textPanier{
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: center;
    color: #2c3e50;    
    font-size: 23px;
    text-align: center;
}

#voirPanier{
    text-decoration: underline;
}

.nego-accepter,
.nego-refuser,
.nego-input{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: center;
    color: #2c3e50;    
    font-size: 23px;
    text-align: center;
}

.choixNego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.nego-accepter {
    background-color: #d12c033b;
    color: #3F4A54;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;

}

.nego-accepter:hover {
    background-color: #cd2a11b2;
}

.nego-refuser{
    background-color: #3b6ccf84;
    color: #242220e6;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}

.nego-refuser:hover {
    background-color: #0f2f6db2;
}

.nego-offres,
.nego-compteur,
.info-proprio,
.nego-offre{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.enchere-envoyer{
    font-family: 'Courier New', Courier, monospace;
    background-color: #3b6ccf84;
    color: #242220e6;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 25px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}

.enchere-envoyer:hover {
    background-color: #6d0f12b2;
}

.enchere-prix,
.enchere-liste{
    border: 2px solid #2c3e50;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    color: #333333;
    background-color: #ebdacd;
    resize: none;
}

.enchere-prix:focus,
.enchere-liste:focus {
    border: 4px solid #11203e;
    transform: scale(1.1);
}

.enchere-reco{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}

.enchere-effectue,
.enchere-liste{

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    justify-content: center;
    color: #2c3e50;    
    font-size: 23px;
    text-align: center;
}

.enchere-effectue{
    background-color: #03d11484;
    color: #3F4A54;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: fit-content;
}
