.product img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 25px;
}
.product {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edccb4e6;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    border-radius: 25px;
}
body {
    font-family: 'Lexend', Arial, sans-serif;
    margin: 0;
    padding-top: 90px; /* Ajoutez un padding-top pour éviter que le contenu ne soit caché sous le header fixe */
    position: relative;
    min-height: 100vh;
}
.product .col {
    position: relative;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
.centre {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 25px;
    margin-top: 20px;
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 500px;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edccb4e6 ;
    z-index: 1001;
}
form.row{
    background-color: #edccb4e6 ;
}
