.product img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 5px;
    border-radius: 25px;
}
.product{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edccb4e6;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    border-radius: 25px;
}
body {
    font-family: 'Lexend', Arial, sans-serif;
    margin: 0;
    padding-top: 90px; /* Ajoutez un padding-top pour éviter que le contenu ne soit caché sous le header fixe */
    position: relative;
    min-height: 100vh;
}
.product .col {
    position: relative;
    box-shadow: none;
    background-color: transparent; 
    border-radius: 0;
    width: 45%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
}